* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  background-color: rgb(250, 150, 0);
}

.imagen {
  height: 35rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imagen1 {
  background-image: url(../assets/images/galeria/img1.jpg);

  grid-column: 1/3;
  grid-row: 1/3;
  height: auto;
}

.imagen2 {
  background-image: url(../assets/images/galeria/img2.jpg);
}

.imagen3 {
  background-image: url(../assets/images/galeria/img3.jpg);
}

.imagen4 {
  background-image: url(../assets/images/galeria/img4.webp);
}

.imagen5 {
  background-image: url(../assets/images/galeria/img5.jpg);
}

.imagen6 {
  background-image: url(../assets/images/galeria/img6.webp);

  grid-column: 3/4;
  grid-row: 3/5;
  height: auto;
}

.imagen7 {
  background-image: url(../assets/images/galeria/img7.jpg);
}

.imagen8 {
  background-image: url(../assets/images/galeria/img8.jpg);
}

.imagen9 {
  background-image: url(../assets/images/galeria/img9.jpg);

  grid-column: 1/4;
}
